html, body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    max-height: 100vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.text {
    font-size: 20px;
}

.biodata h1, .biodata-back-friend h1, .biodata-front-friend h1 {
    font-size: 48px;
    margin-top: 12px;
    margin-bottom: -12px;
    letter-spacing: 4px;
    font-weight: bolder;
}

.header {
    position: relative;
    padding: 40px 20px 0px 20px;
    background-size: cover;
}

.biodata, .biodata-front-friend {
    box-shadow: 8px 8px grey;
    background-color: whitesmoke;
    position: relative;
    opacity: 0.9;
    padding: 40px;
    margin: 40px 48px 0px 48px;
    border-radius: 48px;
    border: solid;
}

.biodata-front-friend {
    box-shadow: 8px 8px cornflowerblue;
}

.biodata-back-friend {
    box-shadow: 8px 8px darkgreen;
    background-color: whitesmoke;
    position: relative;
    opacity: 0.9;
    padding: 40px;
    margin: 40px 48px 40px 48px;
    border-radius: 48px;
    border: solid;
}

.img-circle {
    margin: auto;
    display: block;
    width: 250px;
    border-radius: 50%;
    opacity: 1;
}

.line {
    display: inline-block;
    margin-top: 2px;
    border-top: 4px solid black;
    width: 20%;
}

.line-1, .line-2 {
    display: inline-block;
    margin-top: 2px;
    border-top: 4px solid black;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .biodata h1, .biodata-back-friend h1 {
        text-align: center;
        margin-bottom: 4px;
    }

    .header {
        width: 100%;
        position: relative;
        margin: 0;
        padding: 10% 0 10% 0;
    }

    .biodata, .biodata-back-friend, .biodata-front-friend {
        box-shadow: none;
        background-color: whitesmoke;
        position: relative;
        opacity: 0.9;
        padding: 40px;
        margin: 0;
        border-radius: 48px;
        border: solid;
    }

    .line, .line-1, .line-2 {
        display: none;
    }

}

